name: Push to AWS ECR

on:
    push:
        branches:
            - main

jobs:
    push-to-ecr:
        runs-on: ubuntu-latest
        
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            
            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v2
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: us-east-1
            
            - name: Login to Amazon ECR Public
              id: login-ecr-public
              uses: aws-actions/amazon-ecr-login@v1
              with:
                  registry-type: public
            
            - name: Build Docker image
              env:
                  REGISTRY: ${{ steps.login-ecr-public.outputs.registry }}
                  REPOSITORY: s8d1a0t9/allen-assignment3
                  IMAGE_TAG: latest
              run: |
                  docker build -t $REGISTRY/$REPOSITORY:$IMAGE_TAG .
            
            - name: Push to ECR
              env:
                  REGISTRY: ${{ steps.login-ecr-public.outputs.registry }}
                  REPOSITORY: s8d1a0t9/allen-assignment3
                  IMAGE_TAG: latest
              run: |
                  docker push $REGISTRY/$REPOSITORY:$IMAGE_TAG